/* xs */
/* @media (min-width: 475px) { */
/* } */

/* sm */
/* @media (min-width: 640px) { */
/* } */

/* md */
/* @media (min-width: 768px) { */
/* } */

/* lg */
/* @media (min-width: 1024px) { */
/* } */

/* xl */
/* @media (min-width: 1280px) { */
/* } */

/* 2xl */
/* @media (min-width: 1536px) { */
/* } */

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-button);
    color: #c0caf5;
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px var(--clr-button-a5), 0 6px 6px var(--clr-button-a5), 0 0 100px -100px var(--clr-button);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px var(--clr-button-a25), 0 10px 10px var(--clr-button-a22), 0 0 120px -100px var(--clr-button);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}
/**/
/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
/**/
/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
/**/
/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
        margin-top: 5rem;
}
}
/**/
/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
/**/
/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

